@model IEnumerable<HShop.ViewModels.HangHoaVM>

@{
    ViewData["Title"] = "Search";
    Layout = "_DanhSachHangHoa";
}
<h1>Danh sách sản phẩm cần tìm</h1>
@await Html.PartialAsync("ProductItem", Model)
