@{
    ViewData["Title"] = "Home Page";
}
<!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Home</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
        </div>
        <!-- Single Page Header End -->
<div class="text-center py-5">
    <h1 class="display-4">Welcome to HSHOP</h1>
    <p>Trang bán đồ uy tín số 1 Việt Nam.</p>
</div>
